<!DOCTYPE html>
<html>
  <head>
    <title>MyTrails</title>
    <%= favicon_link_tag asset_path('alltrails.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.images = {};
      images.menu_bar = "<%= asset_path('/header_images/menu_bar.png') %>";
      images.logo = "<%= asset_path('/header_images/logo.png') %>";
      images.developer = "<%= asset_path('/footer_images/me.jpg') %>";
      images.github = "<%= asset_path('/footer_images/github.png') %>";
      images.linkedin = "<%= asset_path('/footer_images/linkedin.png') %>";
      images.angellist = "<%= asset_path('/footer_images/angellist.png') %>";
      images.portfolio = "<%= asset_path('/footer_images/portfolio.png') %>";
      images.star_icon = "<%= asset_path('/home_images/star_icon.png') %>";
      images.search_icon = "<%= asset_path('/home_images/search_icon.png') %>";
      images.marker_icon = "<%= asset_path('/home_images/marker_icon.png') %>";

      images.menu_arrow = "<%= asset_path('/explore_images/menu_arrow.png') %>";

      images.alltrails_symbol = "<%= asset_path("/list_images/alltrails_symbol.png") %>";
      images.trash_icon = "<%= asset_path("/list_images/trash_icon.png") %>";
      images.add_img_icon = "<%= asset_path("/list_images/add_img_icon.png") %>";
      images.mini_x_icon = "<%= asset_path("/list_images/x_icon.png") %>";

      images.x_icon = "<%= asset_path("/trail_images/x_icon.png") %>";
      images.plus_icon = "<%= asset_path("/trail_images/plus_icon.png") %>";
      images.flag_outline = "<%= asset_path("/trail_images/flag_outline.png") %>";
      images.flag_filled = "<%= asset_path("/trail_images/flag_filled.png") %>";
      images.star_filled = "<%= asset_path("/trail_images/star_filled.png") %>";
      images.star_outline = "<%= asset_path("/trail_images/star_outline.png") %>";

      images.sunny = "<%= asset_path("/trail_images/sunny.jpg") %>";
      images.partly_cloudy = "<%= asset_path("/trail_images/partly_cloudy.jpg") %>";
      images.cloudy = "<%= asset_path("/trail_images/cloudy.jpg") %>";
      images.overcast = "<%= asset_path("/trail_images/overcast.jpg") %>";
      images.showers = "<%= asset_path("/trail_images/showers.jpg") %>";
      images.rain = "<%= asset_path("/trail_images/rain.jpg") %>";
      images.storm = "<%= asset_path("/trail_images/storm.jpg") %>";
      images.snow = "<%= asset_path("/trail_images/snow.jpg") %>";
      images.fog = "<%= asset_path("/trail_images/fog.jpg") %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
