<!DOCTYPE html>
<html>
  <head>
    <title>MyTrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.images = {};
      images.menu_bar = "<%= image_url('/header_images/menu_bar.png') %>";
      images.logo = "<%= image_url('/header_images/logo.png') %>";
      images.developer = "<%= image_url('/footer_images/me.jpg') %>";
      images.github = "<%= image_url('/footer_images/github.png') %>";
      images.linkedin = "<%= image_url('/footer_images/linkedin.png') %>";
      images.angellist = "<%= image_url('/footer_images/angellist.png') %>";
      images.portfolio = "<%= image_url('/footer_images/portfolio.png') %>";
      images.star_icon = "<%= image_url('/home_images/star_icon.png') %>";
      images.search_icon = "<%= image_url('/home_images/search_icon.png') %>";
      images.marker_icon = "<%= image_url('/home_images/marker_icon.png') %>";


    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
